@charset "UTF-8";

/* 
Typical Device Breakpoints 
-=-=-=-=-=-=-=-=-=-=-=-=-
    celulares: até 768px (max-width: 768px)
    tablet: de 768px (min-width px)
    desktop: de 1200px
    desktop-grande: de 1900px
*/

@media screen and (min-width: 768px) {/* qualquer coisa que não seja um celular */
    i#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }
    
    menu > ul{
        text-align: center;
    }

    main{
        width: 768px;
    }
}